<div class="container text-center padded">
<ul class="list-inline text-center">
  <% ["Rui", "Pavlos", "Duarte"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpeg", class: "img-circle", width: 100, height:100 %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
    <h3 class="padded text-center">
      <a href="mailto:contact@airbnb.com">
        <i class="fa fa-envelope"></i> contact@airbnb.com
      </a>
    </h3>
</div>
